@font-face {
  font-family: bloomsburg;
  src: url("../src/assets/fonts/Roboto.ttf");
}

@keyframes pulse-slow {
  0%,
  100% {
    opacity: 0.7;
    box-shadow: 0 0 10px rgba(34, 211, 238, 0.5);
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 20px rgba(34, 211, 238, 0.8);
  }
}

@import "tailwindcss";

@keyframes float {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-10px) rotate(1deg);
  }
}

@keyframes pulse-slow {
  0%,
  100% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.9;
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-pulse-slow {
  animation: pulse-slow 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.3);
}
/* styles.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #94a3b8; /* tailwind slate-400 */
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.flip-card-back {
  transform: rotateY(180deg);
}
